.fullBar {
    // Keep synchronized with FULL_BAR_HEIGHT const in MeasurementBar
    --full-bar-height: 200px;
    --border: 1px solid rgba(255, 255, 255, 0.25);

    position: relative;
    height: var(--full-bar-height);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 2px;
    border-top: var(--border);
    border-bottom: var(--border);
}

.filament {
    width: 100%;
}

.co2PPMValue,
.time {
    position: absolute;
    font-size: 12px;
}

.co2PPMValue {
    transform: rotate(-35deg);
}

.co2PPMValue {
    bottom: -22px;
    left: -6px;
}

.time {
    bottom: 0;

    &:after {
        content: ':';
        position: absolute;
        bottom: 7px;
        right: -5px;
    }
}
