.wrapper {
    display: flex;
    flex-direction: row;

    flex-wrap: wrap;
}

.controlsRow {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-between;
}

.tab {
    cursor: pointer;
}

.activeMode {
    text-decoration: underline;
}
