.fullBar {
    position: relative;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 2px;
}

.filament {
    width: 100%;
}

.co2PPMValue,
.time,
.temperature,
.humidity {
    position: absolute;
    font-size: 12px;
}

.co2PPMValue,
.temperature,
.humidity {
    transform: rotate(-35deg);
}

.co2PPMValue {
    bottom: -16px;
    left: -6px;
}

.temperature {
    bottom: -38px;
    left: -6px;
}

.humidity {
    bottom: -60px;
    left: -1px;
}

.time {
    bottom: 12px;

    &:after {
        content: ':';
        position: absolute;
        bottom: 7px;
        right: -5px;
    }
}
